@import "var.css";

body {
    background:var(--Pagebackground) !important;
    display:flex;flex-wrap: wrap;
}

#TopBar{
    background: var(--main-color);
    width:100%;
    position: fixed;
    top: 0;
}
#main_vis_wall {
    overflow:hidden;
    width:100%;
}


#ContentDisplay > div{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
}

#LandPangeMakerBrief {
    color: var(--main-text-color);
    margin:.8em 0;
    display:flex;
    align-items: center;
    width:100%;
    background: var(--Pagebackground_d);
}

#LandPangeMakerBrief > .ImgBox{
    width:calc(var(--L_Size_unit));height: calc(var(--L_Size_unit));
    border-radius: 10px;
    margin: .5em;
    /* background:black; */
    background-image: url('../media/116369272_p1.png');
    background-size:cover;
}

#LandPangeMakerBrief > .TextBox{
    width:calc(100% - calc(var(--L_Size_unit))); 
    height: calc(var(--L_Size_unit));
    flex-direction: column;
    margin: .5em;
    display:flex;
    /* background:white; */
}

#LandPangeMakerBrief h2 {
    color: var(--TitleText); 
    opacity: var(--hidden);
    margin:.35em;
    font-size: 1.5em;
}

#LandPangeMakerBrief .TalkTextBox{
    width:100%;
    max-height: calc(100% - 1.85em - 2px);
    overflow-y: scroll;
    scrollbar-width: none;

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

#LandPangeMakerBrief p {
    margin:0;
    color: var(--ContentText);
    opacity: var(--hidden);
    font-size: calc(var(--L_Size_unit) / 13 + 8px);
}

#LandPangeMakerBrief .line {
    height:2px;
    width:100%;
    background:  linear-gradient(90deg, rgb(187, 86, 255) 40%, rgba(187, 21, 252, 0.559) 60%,  rgba(255, 255, 255, 0) 100%);
}

.TextPane {
    position: relative;
    opacity: .4;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    overflow: hidden;
    width:96%;
    padding: 10px;
    margin:10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.TextPane:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.8);
}

.TextPane div {
    width:100%;
    display: flex;
    flex-direction: column;
}

.TextPane div:nth-child(1){
    width:calc(100% - 3em);
}

.TextPane div:nth-child(2){
    position: absolute;
    z-index: 2;
    width:30px;height:30px;
    border: 2.5px solid white;
    border-radius: 10px;
    right:1.2em;top:.5em;
    background: rgba(255, 255, 255, 0);
    transition: all 0.5s ease;
}


.TextPane div:nth-child(2):hover{
    background: rgba(255, 255, 255);
    border: 0px solid white;
}

.TextPane div:nth-child(3){
    margin: 5px 0 0;
    border-top: .3px solid #ffffff90;
    width:100%;
}

.TextPane .talkEventbox{
    width:100%;height:100%;
    position: absolute;
    top:0;left:0;
    z-index: 1;
}


.TextPane h3{
    margin:.05em 0;
    font-size: 1.3em;
    text-align: center;
    color: var(--main-text-color);
}

.TextPane p{
    margin:.8em;
    color:rgba(255, 255, 255, 0.632);
}

.backgroundBox{
    position: fixed;
    top: 0;left: 0;
    z-index: -1;
}

.backgroundBox > div:first-child {
    position: absolute;
    top: 0;left: 0;
    width: 100vw;
    height: 100vh;
    background:  var(--Pagebackground_c);
    opacity: .98;
    z-index: 1;
    
}

.video-background {
    position: absolute;
    top: 0;left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    position: absolute;
    top: 70%;
    left: 65%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

#TopBar a{
    color:  var(--main-text-color);
}

.modal-content > button {
    position: absolute;
    right:0;
}


#PageDisplay {
    width: 60%;
    color: var(--main-text-color);
}
#SideMenu{
    width: 40%;
}

.btn-close{
    filter: invert(100%);
}

@media screen and (max-width: 1000px) {
    #PageDisplay,#SideMenu{width:100%;}

}